.box{
    height: 200px;
    width: 200px;
    background-color: rgb(48, 76, 141);
    margin: 10px;
    color: white;
    text-align: center;
}

.box-lg{
    height: 200px;
    width: 310px;
    background-color: rgb(48, 76, 141);
    margin: 10px;
    color: white;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .container{
        flex-direction: column;
    }
}
.container-1{
    height: 100px;
    display: grid;
    grid-template-columns: 200px 2fr 1fr  ;
}

.box-new{
    background-color: rgb(68, 145, 155);
    margin: 10px;
    color: aliceblue;
    text-align: center;
}