.box{
    height: 200px;
    width: 200px;
    background-color: rgb(48, 76, 141);
    margin: 10px;
    color: white;
    text-align: center;
}

.box-lg{
    height: 200px;
    width: 310px;
    background-color: rgb(48, 76, 141);
    margin: 10px;
    color: white;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .container{
        flex-direction: column;
    }
}